.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #3d4753;
}

p { color: #7d8ca1; }
  
.event-header {
  flex: 1 1 100%;
}

.event-header h1 {
  margin-bottom: 0;
}

.event-details {
  flex: 1 1 30%;
}
@media (min-width: 301px) {
  .event-details {
    padding-right: 20px;
  }
}

.event-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.event-description {
  margin-top: 10px;
}

.ticket-form {
  flex: 1 1 45%;
  background-color: #f7f8fa;
  padding: 20px;
}

.ticket-form h2 {
  margin: 0;
}

.ticket-option {
  padding: 20px 0;
  display: flex;
  border-bottom: 1px solid #7d8ca1;
}

.ticket-content {
  width: 70%;
  padding-right: 5px;
}

.ticket-content p {
  margin: 5px 0;
  font-size: .7rem;
}

.ticket-option input {
  width: 50px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.total {
  display: flex;
  font-size: 1rem;
  margin-top: 20px;
}

.total span {
  font-size: 1rem;
  flex: 1 1 50%;
}

.total-value {
  text-align: right;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group input {
  box-sizing: border-box;
}

.form-group .first-name, .form-group .last-name {
  width: 48%;
}

.form-group .address {
  flex: 1 1 100%;
}

.form-group input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
}

.payment-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.payment-number {
  flex: 1 1 100%;
}

.payment-group input {
  width: 38%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #606060;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #474747;
}
